*{ margin: 0px; padding: 0px;}
#topcontent{
  background-color: black;
    width: 100%;
    height: 40px;
}
#content_body{

    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 0px auto;
}
#content_body_left{
    font-family: 微软雅黑;
    font-size: 14px;
    color: white;
    float: left;
}
#content_body_right{
    float: right;
}
#content_body_right li {
    float: left;
    list-style-type: none;
    margin: 0px 5px;

    font-family: 微软雅黑;
    font-size: 14px;
    color: white;
}

#content_center{
	width: 100%;
	background-image: url(../images/bander.png);
	height: 359px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-repeat: no-repeat;
	background-color: #BFF2E8;
	background-position: center top;
}
#content_ico{ width: 906px; margin: 50px auto;}
.ico{ font-size: 12px; font-family: 微软雅黑;  width: 300px; float: left; border: 1px solid red}
.ico dt{  width: 40px; float: left;}
.ico dd{ line-height: 18px;}

.leftline{
	border-left-width: 2px;
	border-left-style: groove;
	border-left-color: #999;
}
.rightline{
	border-right-width: 1px;
	border-right-style: groove;
	border-right-color: #CCC;
}
