*{ margin: 0px; padding: 0px;}
#topcontent{
  background-color: black;
    width: 100%;
    height: 40px;
}
#content_body{

    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 0px auto;
}
#content_body_left{
    font-family:微软雅黑;
    font-size: 14px;
    color: white;
    float: left;
}
#content_body_right{
    float: right;
}
#content_body_right li {
    float: left;
    list-style-type: none;
    margin: 0px 5px;

    font-family: 微软雅黑;
    font-size: 14px;
    color: white;
}

#content_center{
	width: 100%;
	background-image: url(../images/bander.png);
	height: 359px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-repeat: no-repeat;
	background-color: #BFF2E8;
	background-position: center top;
}
#content_ico{ width: 1216px; margin: 150px auto;}
#content_ico li{  width: 400px; float: left; list-style: none; height: 60px; }


#content_ico li dl{ font-size: 12px;font-family: 微软雅黑; height: 60px;  width: 210px; margin: 0px auto;}
#content_ico li dl dt{  width: 60px; float: left;}
#content_ico li dl dd{ line-height: 25px;}

.leftline{
	border-left-width: 2px;
	border-left-style: groove;
	border-left-color: #999;
}
.rightline{
	border-right-width: 1px;
	border-right-style: groove;
	border-right-color: #CCC;
}
